body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(to right, #ffecd2, #aefc9f);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.registro-container {
  background: #fff;
  border-radius: 12px;
  padding: 2rem;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.formulario h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.campo {
  margin-bottom: 1rem;
}

.campo label {
  display: block;
  margin-bottom: 0.5rem;
  color: #444;
  font-weight: 500;
}

.campo input {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

button {
  width: 100%;
  padding: 0.8rem;
  background-color: #1c9c02;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #3dd91e;
}

.login-texto {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.login-texto a {
  color: #35f124;
  text-decoration: none;
  font-weight: 500;
}
